/CharacterType.class
/Error.class
/LexiconAnalysis.class
/Main.class
/Token.class
/LexiconAnalysis$LexiconStates.class
/KotlinParser.class
/SyntacticAnalysis$SyntacticStates.class
/SyntacticAnalysis.class
